.total {
    font-weight: 700;
    font-size: 15px;
}
.basif-info{
    font-size: 12px;
    font-weight: 500;
    opacity: 0.5;
    color: #fafafa;
}
.selected_model_image{
    width: 750px;
}
.final_bill_table{
    width: 750px;
}