<div id="summary" *ngIf="summaryDetails">
  <div>
    <h3>Step 3: Summary</h3>
    <h4>Your {{summaryDetails.modelDescription}}</h4>
  </div>
  <table class="final_bill_table">
    <thead></thead>
    <tbody>
      <tr>
        <td>
          <div>
            <span>
              {{summaryDetails.configDescription}}
            </span>
          </div>
          <div class="basif-info">
            <span>
              Range : {{summaryDetails.range}}
            </span>
            <span> miles - </span>
            <span>
              Max Speed : {{summaryDetails.speed}}
            </span>
          </div>
        </td>
        <td>
          <div>
            <span>
              {{summaryDetails.price | currency}}
            </span>
          </div>
        </td>
      </tr>
      <tr *ngIf="summaryDetails">
        <td> <span>{{summaryDetails.colorDescription}}</span></td>
        <td><span>{{summaryDetails.selectedColorPrice | currency}}</span></td>
      </tr>
      <tr *ngIf="summaryDetails.isTowHitch">
        <td><span>Tow Hitch Package</span></td>
        <td><span>{{summaryDetails.towHitchPackagePrice | currency }}</span></td>
      </tr>
      <tr *ngIf="summaryDetails.isYokeSteeringWheel">
        <td><span>Yoke Steering Wheel </span></td>
        <td><span>{{summaryDetails.yokeSteeringWheelPrice | currency }}</span></td>
      </tr>
      <tr class="total">
        <td>Total</td>
        <td>{{totalPrice | currency}}</td>
      </tr>
    </tbody>
  </table>
</div>
<hr>
<div id="selected_model_image" class="selected_model_image" *ngIf="totalPrice">
  <img [src]="selecedCarImgPath" />
</div>